<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registrate</title>
    <link rel="stylesheet" href="css/styles.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="top">
        <div class="logomercado">
          <img src="images/logo-mercado-liebre.svg" alt="Logo" />
        </div>
        <form class="form" method="post" action="#">
          <input type="text" class="input" placeholder="Buscar productos, marcas"></input>
          <input type="submit" class="submit" value=""><i class="fas fa-search"></i></input>
        </form>
        <h2 class="copy-header">
          <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta
          de crédito
        </h2>
      </div>

      <nav class="bottom">
        <ul class="navbar-izq">
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tiendas Oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>

        <ul class="navbar-der">
          <li>
            <a href="/register"
              >Creá tu cuenta <i class="far fa-id-card"></i
            ></a>
          </li>
          <li>
            <a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
          </li>
          <li>
            <a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a>
          </li>
        </ul>
      </nav>

      <a href="#" class="burger-menu">
        <i class="fas fa-bars"></i>
      </a>
    </header>

    <main class="register">
      <form action="/" method="post" class="form-register">
        <label for="nya" id="nya"><b>Nombre y Apellido</b></label>
        <br />
        <input
          type="text"
          placeholder="Introduzca su nombre y apellido"
          name="nya"
          required
        />
        <br />
        <label for="username"><b>Nombre de usuario</b></label>
        <br />
        <input
          type="text"
          name="username"
          placeholder="Introduzca su nombre de usuario"
          required
        />
        <br />
        <label for="email"><b>E-Mail</b></label>
        <br />
        <input type="email" name="email" placeholder="Introduzca su E-Mail" required/>
        <br />
        <label for="nacimiento"><b>Fecha de nacimiento</b></label>
        <br />
        <input type="date" name="nacimiento" id="nacimiento" required/>
        <br />
        <label for="domicilio"><b>Domicilio</b></label>
        <br />
        <input type="text" name="domicilio" placeholder="Introduzca su domicilio" required/>
        <br />
        <h4>Perfil de usuario</h4>
        <div class="perfil">
          <input type="radio" name="perfil" id="buy" value="buy" />
          <label for="buy">Comprador</label>
          <input type="radio" name="perfil" id="perfil" value="sell" />
          <label for="sell">Vendedor</label>
        </div>

        <h4>Categorías de interés</h4>
        <div class="interes">
          <div>
            <input type="checkbox" name="interes" id="a" value="a" />
            <label for="a">Electro</label>
          </div>
          <div>
            <input type="checkbox" name="interes" id="b" value="b" />
            <label for="b">Moda</label>
          </div>
          <div>
            <input type="checkbox" name="interes" id="c" value="c" />
            <label for="c">Hogar</label>
          </div>
          <div>
            <input type="checkbox" name="interes" id="d" value="d" />
            <label for="d">Juguetería</label>
          </div>
          <div>
            <input type="checkbox" name="interes" id="e" value="e" />
            <label for="e">Vida sana</label>
          </div>
        </div>

        <h4>Foto de usuario</h4>
        <div class="fotos">
        <input type="file" name="foto" id="foto" accept=".jpg" />
      </div>
        <label for="password"><b>Contraseña</b></label>
        <br>
        <input type="password" name="password" id="password" placeholder="Introduzca su contraseña" required/>
        <br />
        <label for="password-confirm"><b>Confirmar contraseña</b></label>
        <br />
        <input type="password" name="password-confirm" id="password-confirm" placeholder="Confirme su contraseña" required/>
        <br />
        <br />
        <input type="submit" value="Enviar" />
        <input type="reset" value="Borrar" />
        <br />
        <br />
      </form>
    </main>

    <footer>
      <section>
        <i class="fas fa-credit-card"></i>
        <h3>Pagá con tarjeta o en efectivo</h3>
        <p>
          Con MercadoLiebreCash, tenés cuotas sin interés con tarjeta o efectivo
          en puntos de pago. ¡Y siempre es seguro!
        </p>
      </section>
      <section>
        <i class="fas fa-gift"></i>
        <h3>Envío gratis desde $ 2.500</h3>
        <p>
          Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos.
        </p>
      </section>
      <section>
        <i class="fas fa-user-shield"></i>
        <h3>Seguridad, de principio a fin</h3>
        <p>
          ¿No te gusta? ¡Devolvelo! En MercadoLiebre, no hay nada que no puedas
          hacer, porque estás siempre protegid@.
        </p>
      </section>
    </footer>
    <h3 class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
  </body>
</html>
